*,
::before,
::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  width: 100%;
  margin: 20px auto;
  padding: 15px;
}
.data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
